services:
  web:
    build: .
    container_name: django_web
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - "8000"

  nginx:
    image: nginx:alpine
    container_name: django_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/staticfiles:ro
      - media_volume:/media:ro
    depends_on:
      - web

volumes:
  static_volume:
  media_volume:
